<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.playme"
        version   = "1.0.0">

    <name>PlayMe</name>

    <description>
      PlayMe
    </description>

    <author href="http://www..com" email="lee.farrell86@gmail.com">
        Lee Farrell
    </author>

    <!-- use 3.4.0 as it works with facebook conenct -->
    <preference name="phonegap-version" value="3.7.0" />

    <gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.0.0" />
    <gap:plugin name="uk.co.ilee.nativetransitions" version="0.1.3" />
		
    <access origin="*" />

</widget>