<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.pubquiz"
        version   = "1.0.0">

    <name>PubQuiz</name>

    <description>
        PubQuiz
    </description>

    <author href="http://www..com" email="lee.farrell86@gmail.com">
        Lee Farrell
    </author>

    <!-- use 3.4.0 as it works with facebook conenct -->
    <preference name="phonegap-version" value="3.4.0" />

    <feature name="org.apache.cordova.facebook.Connect">
      <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
    </feature>

    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
      <param name="APP_ID" value="339202539580669" />
      <param name="APP_NAME" value="pubsquiz" />
    </gap:plugin>

    <gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />
		<gap:plugin name="org.apache.cordova.device" version="0.2.8" />
		<gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.0.0" />
		<gap:plugin name="uk.co.ilee.nativetransitions" version="0.1.3" />
		<gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
		
    <access origin="*" />

</widget>